---
import Header from "../../components/Header.astro"
import Layout from "../../layouts/Layout.astro"
---

<Layout>
    <main >
        <Header/>
        <article class="min-h-screen p-12 text-[18px] font-normal">
            <header class="">
                <span class="font-light italic">Versión actualizada el 19 de Diciembre de 2024</span>
                <h2 class="font-bold text-[30px]">Terminos y condiciones de Colaboracion</h2>
                <p>Bienvenido a Dizzgo y gracias por su interes. En este acuerdo establece los terminos y condiciones de Colaboracion entre en el colaborador y Dizzgo.</p>
                <p>Quien sera parte esencial en el desarrollo de un proyecto innovador que esta en sus etapas iniciales y cuyo exito dependera del esfuerzo y compromiso del equipo</p>
            </header>
            <main class="">
                <div class="my-12">
                    <h3 class="font-semibold text-[24px]">1.Objetivos de la Colaboracion</h3>
                    <p>El colaborador sera integrado como parte del equipo de desarrollo backend, para contribuir en la construccion de la infrestuctura tecnica del proyecto, asegurando escalabilidad, funcionalidad y calidad.</p>
                </div>

                <div class="my-12">
                    <h3 class="font-semibold text-[24px]">2. Responsabilidades</h3>
                    <p class="mb-2">El colaborador se compromete a: </p>
                    <div class="mx-6">
                        <ul class="grid gap-1">
                            <li>1. Diseñar, desarrollar e implementar componentes backend segun los requirimientos del proyecto</li>
                            <li>2. Colaborar activamente con el equipo tecnico y aportar soluciones innovadoras.</li>
                            <li>3. Cumplir con los plazos y objetivos establecidos en conjunto con el Propietario de Dizzgo.</li>
                            <li>4. Cumplir con los dias de desarrollo y entrega de los requerimientos establecidos, junto con el propietario de Dizzgo.</li>
                            <li>5. Garantizar la documentacion adecuada del codigo y las soluciones tecnicas propuestas.</li>
                        </ul>
                    </div> 
                </div>

                <div class="my-12">
                    <h3 class="font-semibold text-[24px]">3. Relacion de Colaboracion</h3>
                    <div>
                        <ul>
                            <li>Este acuerdo no implica una relacion laboral ni garantiza un contrato de empleo. El colaborador participara como contribuyente independiente en la etapa inicial del proyecto. Cualquier cambio de relacion se formalizara por escrito a futuro con el propietario de Dizzgo.</li>
                        </ul>
                    </div> 
                </div>

                <div class="my-12">
                    <h3 class="font-semibold text-[24px]">4. Propiedad Intelectual</h3>
                    <div>
                        <ul>
                            <li>Todo el codigo, documentacion y contribuciones realizadas por el Colaborador, pasaran a ser propiedad exclusiva de Dizzgo.</li>
                            <li>El colaborador renuncia a cualquier derecho sobre las creaciones derivadas de su trabajo.</li>
                        </ul>
                    </div> 
                </div>

                <div class="my-12">
                    <h3 class="font-semibold text-[24px]">5. Compensacion y Beneficios </h3>
                    <div>
                        <ul>
                            <li>Dado que el  proyecto se encuentra en sus etapas iniciales y no cuenta con ingresos, no se otorgara una compensacion economica durante sus fases iniciales.</li>
                            <li>El Colaborador será compensado una vez que el proyecto genere ingresos, en proporción a su contribución y según los acuerdos específicos que se establecerán al momento de la distribución de las primeras ganancias.
                            </li>
                            <li>Además, se valorará la participación del Colaborador como una experiencia enriquecedora y un reconocimiento profesional en su trayectoria.
                            </li>
                        </ul>
                    </div> 
                </div>

                <div class="my-12">
                    <h3 class="font-semibold text-[24px]">6.Confidencialidad </h3>
                    <div>
                        <ul>
                            <li>El Colaborador se compromete a mantener la más estricta confidencialidad sobre cualquier información técnica, estratégica, financiera o de otro tipo relacionada con el proyecto.
                            </li>
                            <li>Esta obligación de confidencialidad continuará vigente incluso después de la finalización del presente acuerdo.
                            </li>
                            <li>En caso de incumplir este Termino, se procedera con una demanda legal.
                            </li>
                        </ul>
                    </div> 
                </div>

                <div class="my-12">
                    <h3 class="font-semibold text-[24px]">7. Duración y Terminación del Acuerdo</h3>
                    <p>Este acuerdo entrará en vigor a partir de la fecha indicada y se mantendrá vigente hasta la finalización del proyecto, salvo que sea terminado por mutuo acuerdo o por incumplimiento de alguna de las partes.
                    </p>
                </div>

                <div class="my-12">
                    <h3 class="font-semibold text-[24px]">8. Resolución de Conflictos</h3>
                    <p>En caso de disputas relacionadas con este acuerdo, ambas partes se comprometen a buscar una resolución amistosa antes de recurrir a medidas legales.
                    </p>
                    <p>Este acuerdo se rige por las leyes del pais de Peru y cualquier conflicto será resuelto en los tribunales de dicha jurisdicción.
                    </p>
                </div>

                <div class="my-12">
                    <h3 class="font-semibold text-[24px]">9. Declaración Final</h3>
                    <p>Al firmar la hoja de invitacion, El Colaborador acepta y confirma que comprende los términos y condiciones aquí establecidos y que está dispuesto/a a contribuir con el éxito del proyecto bajo las condiciones especificadas.
                    </p>
                </div>
            </main>
        </article>
    </main>
</Layout>